<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div id="form_container" class="w-50 m-auto pt-5">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Full Name">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Email</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Your Email">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput3" class="form-label">Password</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Enter Password">
          </div>
    </div>
</body>
<%- include('./partials/scripts') %>
</html>